body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
 background-image:url("download.png");
 background-size: cover;
}

#header{
    height: 60px;
    background-color: rgb(30, 41, 53);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    
}

#logo

{
    margin-left: -17%;
}


a{
    text-decoration: none;
    color: white;
}


#main
{ color: whitesmoke;
    background-color: #0097fc20;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 10%;
    align-items: center;
}
img
{
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
#events
{
    color: whitesmoke;
    background-color: #0097fc20;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
    margin-bottom: 10%;
}
.text
{
    color: whitesmoke;
    background-color:#ffffff20;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 150px;
    padding: 10%;
    align-items: center;
}

.text a{
    color:lightskyblue;
}

.text a:hover{
    color: aquamarine;
}

.text h1{
    background-color: rgb(43, 86, 171);
    border-radius: 10px;
    padding:10px;
    text-align:left;


}
footer {
    background-color: #333;
    color: #fff;
  padding: 20px 0;
    text-align: center;
    width:100%;
  }
  
  .fcontainer {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px; /* Add padding for better spacing */
  }
  
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    /* grid-gap: 10px; */
  }
  
 footer-grid a {
  text-decoration: none;
  color: #fff;
  padding: 10px 0;
  border-top: 2px solid transparent;
  transition: border-top 0.3s ease;
}

  
  .footer-grid a:hover {
    border-top: 2px solid #fff;
  }
  
  #ok{

    background-color: #ffffff00;

  }

  footer{
    color: white;
    text-align: center;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
  }
  .form-group input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  .form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    color: #0029a2;
    cursor: pointer;
  }
  .form-group button:hover {
    color: #506f90;
  }
  
  .form-group button a{
    color: blue;
  }
  
  .update-form-container{
    background-color: lightgray;
    justify-content: space-evenly;
    border-radius: 15px;
    margin: 10% 10% 10% 10%;
    box-shadow: 0 0 10px black;
    text-align: center;
    
  }

  .navigationbar {
    display: grid;
    height: 100px;
    width: 100%;
    align-content: center;
    grid-template-columns: repeat(3, auto); 
    gap: 10px;
    background-color: black;
}
  